<div
    class="tour-card"
>
    <div class="tour-card-left">
        <div class="tour-image-container">
            <img
                class="tour-image"
                *ngIf="!tour"
                src="https://imgs.search.brave.com/udmDGOGRJTYO6lmJ0ADA03YoW4CdO6jPKGzXWvx1XRI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzY4LzU1LzYw/LzM2MF9GXzI2ODU1/NjAxMl9jMVdCYUtG/TjVyalJ4UjJleVYz/M3puSzRxblllS1pq/bS5qcGc"
            />
            <img
                class="tour-image"
                *ngIf="tour"
                [src]=tour.picturePath
            />
        </div>
    </div>
    <div class="tour-card-content">
        <div class="tour-card-top">
        </div>
        <div class="tour-card-information">
            <div class="tour-card-center">
                <div class="tour-title">{{ tour.name }}</div>
                <div class="tour-guide-value">
                    <strong>Description: </strong> {{ tour.description }}
                </div>
                <div class="tour-guide">
                    <div class="tour-guide-value">
                        <strong>Guide: </strong> {{ tour.guide?.firstName }} {{ tour.guide?.lastName }}
                    </div>
                </div>
                <div class="tour-date">
                  <div class="tour-date-value">
                    <strong>Date and time: </strong> {{ this.tourOccurrenceDate }} {{ this.tourOccurrenceTime }} h
                  </div>
                </div>
                <div class="tour-capacity">
                  <div class="tour-capacity-value">
                      <strong>Capacity: </strong> {{ tour.capacity }} people
                  </div>
                </div>
                <div class="tour-capacity">
                    <div class="tour-capacity-value">
                        <strong>Exhibitions: </strong> {{ this.exhibitionsString }}
                    </div>
                </div>
                <div class="tour-capacity">
                    <div class="tour-capacity-value">
                        <strong>Duration: </strong> {{ tour.duration }} minutes
                    </div>
                </div>
                <div class="tour-capacity">
                  <div class="tour-capacity-value">
                    <strong>Category: </strong> {{ tour.category }}
                  </div>
                </div>
            </div>
            <div class="tour-card-right">
                <div class="tour-price">
                    <div class="tour-price-value">
                      Adults: {{ tour.adultTicketPrice }}
                    </div>
                    <fa-icon class="tour-price-tokens" [icon]="faCoins" />
                    &nbsp;&nbsp;&nbsp;
                    <div class="tour-price-value">
                        Minors: {{ tour.minorTicketPrice }}
                      </div>
                      <fa-icon class="tour-price-tokens" [icon]="faCoins" />
                </div>

                <button
                    *ngIf="this.user?.role == 'ORGANIZER'"
                    class="btn"
                    (click)="editButtonClicked();$event.stopPropagation()"
                    [@buttonState]="editButtonState"
                >
                    <fa-icon [icon]="faPen" />
                    &nbsp;Edit
                </button>

                <button
                    class="btn"
                    *ngIf="this.user?.role == 'ORGANIZER'"
                    (click)="removeButtonClicked(tour.id!);$event.stopPropagation()"
                    [@buttonState]="removeButtonState"
                >
                    <fa-icon [icon]="faRemove" />
                    &nbsp;Remove
                </button>

                <button
                    class="btn"
                    *ngIf="this.user?.role == 'GUEST'"
                    (click)="reserveTicketsButtonClicked(tour.id!);$event.stopPropagation()"
                    [@buttonState]="reserveTicketsButtonState"
                >
                    <fa-icon [icon]="faTicket" />
                    &nbsp;Reserve tickets
                </button>
            </div>
        </div>
    </div>
</div>
