<div class="overlay">
    <div class="exhibition-menu">
        <div class="title">Exhibitions</div>
        <div class="filters">
            <div class="filter" [ngClass]="{'active': activeFilter === 'current'}" (click)="filterExhibitions('current')">Current</div>
            <div class="filter" [ngClass]="{'active': activeFilter === 'upcoming'}" (click)="filterExhibitions('upcoming')">Upcoming</div>
            <div class="filter" [ngClass]="{'active': activeFilter === 'past'}" (click)="filterExhibitions('past')">Past</div>
        </div>
    </div>
    <div class="search-exhibitions-header">
        <div class="search-header-title">
            <img src="assets/search2.png" alt="Search" class="search-icon"/>
            <span>Search by:</span>
        </div>
        <div class="search-buttons">
            <button class="search-category-btn" [ngClass]="{'active': activeDropdown === 'exhibitionInfo'}" (click)="toggleDropdown('exhibitionInfo')">
                Basic Info 
                <span class="filter-count">{{ exhibitionInfoFiltersCount }}</span>
            </button>
            <button class="search-category-btn" [ngClass]="{'active': activeDropdown === 'itemsInfo'}" (click)="toggleDropdown('itemsInfo')">
                Items Info 
                <span class="filter-count">{{ itemsInfoFiltersCount }}</span>
            </button>
            <button class="search-category-btn" [ngClass]="{'active': activeDropdown === 'reviewsInfo'}" (click)="toggleDropdown('reviewsInfo')">
                Reviews Info 
                <span class="filter-count">{{ reviewsInfoFiltersCount }}</span>
            </button>
            <img src="assets/clear-filter1.png" alt="Clear Filters" class="clear-icon" (click)="resetFilters()"/>
            <button class="search-btn" (click)="searchExhibitions()">
                Search
                <img src="assets/search3.png" alt="Search" class="search-icon-btn"/>
            </button>
            
        </div>
    
        <!-- Dropdown Menus -->
        <!-- Dropdown Menus -->
        <div *ngIf="activeDropdown === 'exhibitionInfo'" class="dropdown-menu">
            <app-exhibition-search 
                [searchCriteria]="searchCriteria"
                (searchCriteriaChanged)="onExhibitionInfoCriteriaChanged($event)">
            </app-exhibition-search>
        </div>
        <div *ngIf="activeDropdown === 'itemsInfo'" class="dropdown-menu">
            <app-item-search 
                [searchCriteria]="searchCriteria"
                (searchCriteriaChanged)="onItemsInfoCriteriaChanged($event)">
            </app-item-search>
        </div>
        <div *ngIf="activeDropdown === 'reviewsInfo'" class="dropdown-menu">
            <app-review-search 
                [searchCriteria]="searchCriteria"
                (searchCriteriaChanged)="onReviewsInfoCriteriaChanged($event)">
            </app-review-search>
        </div>

    </div>
    
    <div class="card-container">
        <app-exhibition-card class="card"
        *ngFor="let exhibition of filteredExhibitions"
        [exhibition]="exhibition">
        </app-exhibition-card>
    </div>
      
</div>
