.overlay {
  position: relative;
  height: 100%;
  padding: 0px 0px 50px 0px; 
  
}

.exhibition-menu {
  background: url('https://images.unsplash.com/photo-1556005693-00fff02f134c?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  background-size: cover;
  padding: 20px;
  color: white;
  text-align: center;
}


  
  .btn {
    width: 10rem;
    height: 5rem;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 5%;
    margin-left: 80%;
    margin-bottom: 2%;
  }
  
  .btn:hover {
    background-color: #f2f2f2; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    transform: scale(1.03);
    transition: transform 300ms ease;
  }

  .card-container {
    background-color: #f5f5f5; /* or another light color */
    padding: 30px;
    position: relative;
    z-index: 2; /* Make sure cards are above the overlay */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards */
    gap: 20px;
    max-width: 1250px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container on the page */
  }

.card {
  width: 30%; /* Take up 30% of the container's width */
  background-color: #fff; /* Background color for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Hide anything that overflows the card */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.row {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Evenly distribute the cards */
  margin-bottom: 30px; /* Space between rows */
}

.title {
  margin-top: 30px;
  font-size: 2.5em; /* Increase the size of the Exhibitions title */
  font-weight: bold;
  text-align:left; /* Center the title */
  margin-bottom: 20px; /* Add some space below the title */
}

.filters {
  display: flex;
  justify-content: flex-start; /* Center the filters horizontally */
  gap: 20px; /* Space between filters */
}

.filter {
  font-size: 1.2em; /* Increase the size of the filter options */
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.filter:hover,
.filter.active {
  border-bottom: 3px solid #ff538a; /* Underline color for active or hovered filter */
  color: #ff538a; /* Text color for active or hovered filter */
}
  

  