<mat-toolbar color="primary">
  <div id="navbar-container">
    <!-- TREBA DODATI NEKI LOGO I MOZDA IZRAVNATI PARAGRAF-->
    <div id="left-buttons">
      <div id="logo">
            <img src="assets/black-white-logo.png" alt="Artium Historia Museum Logo">
      </div>
      <button
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['']">
        <fa-icon [icon]="faHome" />
        &nbsp;Home
      </button>

      <button
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['exhibitions-view']"> <!-- PROMENITI PUTANJU -->
        <fa-icon [icon]="faInstitution" />
        &nbsp;Exhibitions
      </button>
    </div>

    <div id="account-buttons">
      <button
            class="feat-button"
            *ngIf="user && user.role === 'ADMIN'"
            color="white"
            mat-raised-button
            [routerLink]="['employee-view']"
      >
      <fa-icon [icon]="faAdressBook" />
      &nbsp;See employees
      </button>


      <button
            class="feat-button"
            *ngIf="user && user.role === 'ADMIN'"
            color="white"
            mat-raised-button
            [routerLink]="['item-view']"
      >
      <fa-icon [icon]="faArchive" />
      &nbsp;See items
      </button>

      <button
            class="feat-button"
            *ngIf="user?.username != ''"
            color="white"
            mat-raised-button
            [routerLink]="['profile']"
            >
            <fa-icon [icon]="faUser" />
            &nbsp;My profile
      </button>

      <button
              class="feat-button"
              *ngIf="user && user.username === ''"
              color="white"
              mat-raised-button
              [routerLink]="['register']"
      >
      <fa-icon [icon]="faPencilSquare" />
        &nbsp;Sign up
      </button>

      <button
            *ngIf="user && user.username === ''"
            color="accent"
            mat-raised-button
            [routerLink]="['login']"
      >
      <fa-icon [icon]="faSignIn" />
      &nbsp;Login
      </button>

      <button *ngIf="user && user.username !== ''"
              color="accent"
              mat-raised-button
              (click)="onLogout()"
      >
      <fa-icon [icon]="faSignOut" />
        &nbsp;Logout
      </button>
    </div>
  </div>
</mat-toolbar>
