<mat-toolbar color="primary">
  <div id="navbar-container">
    <div id="left-buttons">
      <div id="logo">
            <img src="assets/logo/black-white-logo.png" alt="Artium Historia Museum Logo">
      </div>
      <button
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['']">
        <fa-icon [icon]="faHome" />
        &nbsp;Home
      </button>

      <button
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['exhibitions-view']"> 
        <fa-icon [icon]="faInstitution" />
        &nbsp;Exhibitions
      </button>
    </div>

    <div id="account-buttons">
      <button class="feat-button notification-bell" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <span *ngIf="unreadNotificationsCount > 0" class="notification-count">
        {{ unreadNotificationsCount }}
      </span>
      <mat-menu #notificationsMenu="matMenu" class="notifications-menu" [overlapTrigger]="false">
        <div class="notification-scroll-container">
          <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications">
            <ng-container *ngFor="let notification of notifications">
              <button mat-menu-item (click)="navigateTo(notification.actionUrl, notification.id)">
                <div class="notification-item">
                  <fa-icon [icon]="getNotificationIcon(notification.type)" class="notification-icon"></fa-icon>
                  <div class="notification-details">
                    <div class="notification-message">{{ notification.message }}</div>
                    <div class="notification-timestamp">{{ notification.timestamp | date:'short' }}</div>
                  </div>
                </div>
              </button>
            </ng-container>
          </ng-container>
        </div>
        <ng-template #noNotifications>
          <button mat-menu-item disabled>No new notifications</button>
        </ng-template>
      </mat-menu>
      
      <button
            class="feat-button"
            *ngIf="user && user.role === 'ADMIN'"
            color="white"
            mat-raised-button
            [routerLink]="['employee-view']"
      >
      <fa-icon [icon]="faAdressBook" />
      &nbsp;See employees
      </button>


      <button
            class="feat-button"
            *ngIf="user && user.role === 'ADMIN'"
            color="white"
            mat-raised-button
            [routerLink]="['item-view']"
      >
      <fa-icon [icon]="faArchive" />
      &nbsp;See items
      </button>

      <button
            class="feat-button"
            *ngIf="user?.username != ''"
            color="white"
            mat-raised-button
            [routerLink]="['profile']"
            >
            <fa-icon [icon]="faUser" />
            &nbsp;My profile
      </button>

      <button
              class="feat-button"
              *ngIf="user && user.username === ''"
              color="white"
              mat-raised-button
              [routerLink]="['register']"
      >
      <fa-icon [icon]="faPencilSquare" />
        &nbsp;Sign up
      </button>

      <button
            *ngIf="user && user.username === ''"
            color="accent"
            mat-raised-button
            [routerLink]="['login']"
      >
      <fa-icon [icon]="faSignIn" />
      &nbsp;Login
      </button>

      <button *ngIf="user && user.username !== ''"
              color="accent"
              mat-raised-button
              (click)="onLogout()"
      >
      <fa-icon [icon]="faSignOut" />
        &nbsp;Logout
      </button>
    </div>
  </div>
</mat-toolbar>
