#navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between logo, left buttons, and account buttons */
}

#logo img {
  height: 65px; /* Adjust the height to fit the navbar better */
  width: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add space between the logo and the left buttons */
}


#left-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between left-aligned buttons */
}

#account-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between right-aligned account buttons */
}

.mat-toolbar {
  backdrop-filter: blur(20px);
  background: #1b1b1b;
  padding: 0 20px; /* Add some padding inside the toolbar */
}

button {
  position: relative; 
  overflow: hidden; 
}

button.feat-button::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 15;
  width: 0%; 
  height: 2px; 
  background-color: #fff; 
  transition: width 0.4s ease; 
}

button.feat-button:hover::after {
  width: 90%; 
}
