.item-card {
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .image-container {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info-container {
    padding: 20px;
  }

  .item-name {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .description,
  .period,
  .category,
  .additional-info,
  .authorsName,
  .yearOfCreation {
    margin-bottom: 10px;
  }

.btn {
  border: 0;
  background: #FFFFFF;
  margin-left: 15%;
}

.btn:hover {
  color: #807f7f;
}
