.dialogue {
  width: 30rem;
  height: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(255, 255, 255, .1);
  padding: 20px;
  backdrop-filter: blur(15px);
  color: #fff;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.wrapper {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  gap: 15px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: -4%;
}

.wrapper .input-box {
  margin-top: 6%;
  position: relative;
  width: 100%;
  height: 10%;
  border-radius: 40px;
  display: flex;
}

.input-box input {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  font-size: 16px;
  padding: 2% 3%;
  border: 2px solid #fff;
}

.input-box input::placeholder {
  color: #1b1b1b;
}

.input-box fa-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.input-box input:focus + label,
.input-box label.active {
  top: -13px;
  left: 10px;
  font-size: 13px;
  color: #fff;
}

.wrapper .btn {
  margin-top: 6%;
  width: 50%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #1b1b1b;
  font-weight: 600;
}

.wrapper .btn:hover {
  background-color: rgb(172, 172, 172);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.input-box select::-ms-expand,
.input-box select::-webkit-select-arrow {
  display: none;
}

.input-box select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
}

.date-picker-input {
  width: 80%;
  height: 90%;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #1b1b1b;
  gap: 15px;
  border-radius: 40px;
  font-size: 16px;
  padding: 2% 3%;
}

.date-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper .submit-btn {
  margin-top: 8%;
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #1b1b1b;
  font-weight: 600;
}

.wrapper .submit-btn:hover {
  background-color: rgb(172, 172, 172);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 300ms ease;
}

#date-time-label {
  align-self: center;
}
