<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="dialogue">
  <div class="wrapper">
    <form [formGroup]="addTourRequestForm">
        <h1>Request personal tour</h1>

        <h2>Date and time</h2>
        <div class="date-time">
            <div class="input-box">
                <input 
                        type="date" 
                        id="datepicker" 
                        name="datepicker" 
                        formControlName="occurrenceDate"
                        [min]="minDate">
            </div>
            <div class="input-box">
                    <input matInput 
                        type="time" 
                        id="timepicker" 
                        name="timepicker" 
                        formControlName="occurrenceTime">
            </div>
        </div>

        <div class="input-box">
            <input 
                    type="number" 
                    formControlName="guestNumber"
                    required
            />
            <label [class.active]="addTourRequestForm.get('guestNumber')?.value || focused === 'guestNumber'">Guest number</label>
        </div>

        <button type="submit" class="submit-btn" [@buttonState]="routeButtonState" (click)="selectRouteButtonClicked()">Select route</button>

        <button type="submit" class="submit-btn" [@buttonState]="submitButtonState" (click)="addTourRequestButtonClicked()">Request</button>
    </form>
  </div>
</div>
