<div class="wrapper">
    <div class="container profile-grid">
        <img class="profile-picture" src="../../../../assets/default-profile-picture.png" alt="">
        <div class="user-data">
            <p class="name">{{curator?.firstName}} {{curator?.lastName}}</p>
            <p class="username">&#64;{{curator?.username}}</p>
            <p class="bio">{{curator?.biography}}</p>
        </div>
        <img class="edit" src="../../../../assets/pen.svg" [routerLink]="['edit']">
    </div>

    <div>
        <button
            type="submit"
            class="report-btn"
            (click)="openOrganizerExhibitionsReportDialogue()">
            &nbsp;Generate Exhibitions Report
        </button>
        <div class="header">
            <h1>Pending invites</h1>
        </div>
    
        <div class="cards" *ngFor="let invitation of pendingEventInvitations">
            <div class="container-cards organizer">
                <p>{{invitation.event.organizer.firstName}} {{invitation.event.organizer.lastName}} invited you to participate in the event: {{invitation.event.name}}</p>
                <div class="buttons">
                    <button (click)="onAccept(invitation)">Accept</button>
                    <button (click)="onDecline(invitation)">Decline</button>
                </div>
            </div>
        </div>
    </div>

</div>