<div class="overview" [ngStyle]="{'background-size': backgroundSize}">
  <div class="h2-wrapper">
    <h2>Personal Tour Requests</h2>
  </div>
  <br>

  <div class="p-wrapper">
    <p *ngIf="user!.role == 'ORGANIZER'">Welcome to your organizer dashboard! Here, you can effortlessly create, edit, and manage your tours with ease.
      Whether it's crafting exciting new experiences or fine-tuning existing ones, this is your hub for bringing unforgettable adventures to life</p>
    <p *ngIf="user!.role != 'ORGANIZER'">Welcome to the tour overview page! Here, you can effortlessly get information about all the available tours.
       You can make reservations, or even let you imagination play by organizing a tour by yourself! Embark on an unforgettable journey through history and culture with our guided tours at the museum
    </p>
  </div>

  <button *ngIf="user?.role === 'GUEST'"
          type="submit"
          class="add-tour-btn"
          (click)="addTourRequestButtonClicked()"
          [@buttonState]="tourRequestsButtonState">
    <fa-icon [icon]="faPlus" />
    &nbsp;Request personal tour
  </button>

  <button *ngIf="user?.role === 'ORGANIZER'"
          type="submit"
          class="report-btn"
          (click)="openHandledRequestsReportDialogue()"
          [@buttonState]="tourRequestsButtonState">
    <fa-icon [icon]="faPlus" />
    View Personal Requests Report
  </button>
  <button *ngIf="user?.role === 'ORGANIZER'"
          type="submit"
          class="report-btn"
          (click)="openRequestsReportDialogue()"
          [@buttonState]="requestsReportButtonState">
    <fa-icon [icon]="faPlus" />
    &nbsp;View Requests Report
  </button>

  <div class="tour-search-results">
    <div class="tour-search-result-tours">
        <xp-tour-request-card-view
            [@fadeIn]
            *ngFor="let request of requests"
            [request]="request"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></xp-tour-request-card-view>
    </div>
  </div>

</div>
