.background-container {
  position: relative;
  background-color: #f5f5f5;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.exhibition-create-container {
  max-width: 1200px;
  width: 80%; /* Dodajemo širinu forme */
  margin: 0 auto;
  padding: 20px;
  background: #ffffff; /* Background za formu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka */
  z-index: 2; /* Osiguravamo da forma bude iznad pozadine */
  position: relative;
  border-radius: 15px; /* Zaobljenje ivica */
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin: 0;
}


.form-section {
  display: flex;
  justify-content: space-between;
}

.left-section, .right-section {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.items-section {
  margin-top: 20px;
}

.items-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.items-section .form-control {
  margin-bottom: 20px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolone u mreži */
  gap: 20px;
}

.item-card {
  width: 100%; /* Kartica će automatski zauzeti 1/4 širine kontejnera */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.item-card.selected {
  background-color: #d4a017; /* Promena boje pozadine na selektovanom itemu */
  color: white; /* Promena boje slova na belo */
  border: none; /* Uklanja plavi border */
}

.item-card.selected .item-name,
.item-card.selected .category,
.item-card.selected label {
  color: white; /* Osigurava da su svi tekstualni elementi bele boje */
}

.item-card:hover {
  background-color: #e5b933; /* Svetlija nijansa zlatne za hover efekat */
  transition: background-color 0.3s ease;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  padding: 20px;
}

.item-name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.category {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 150px; /* Razmak između dugmadi */
}

.cancel-button,
.proposal-button,
.submit-button {
  width: 240px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d4a017;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.cancel-button {
  background-color: #dc3545; 
  width: 450px;
}

.submit-button {
  width: 450px;
}

.cancel-button:hover {
  background-color: #c82333 ; 
}

.proposal-button:hover,
.submit-button:hover {
  background-color: #B8860B; /* Promena boje na hover */
  transition: background-color 0.3s ease; /* Glatki prelaz */
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
