/* Backdrop */
.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

/* Modal container */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Konstantna širina */
  min-height: 420px; /* Konstantna visina */
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ostavlja prostor između gornjeg dela forme (naslovi) i donjeg (dugmad) */
}

.header-container {
  text-align: center; /* Centriranje sadržaja unutar header-containera */
  margin-bottom: 0px; /* Razmak ispod headera */
}

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centriranje sadržaja vertikalno */
  align-items: center; /* Centriranje sadržaja horizontalno */
  flex-grow: 1;
  padding-bottom: 80px; /* Razmak od dna kako bi dugmad imala dovoljno prostora */
  margin-top: 40px;
  text-align: center;
}


.sub-header {
  font-size: 18px;
  color: #555;
  margin: 0; /* Reset margin */
  margin-top: 0px; /* Consistent gap from h1 */
  text-align: left;
}

.button-group {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px; /* Fiksna pozicija dugmadi u odnosu na dno forme */
  left: 20px;
  right: 20px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 20px; /* Moved closer to the top */
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/* Title and Subtitles */
h1, h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px; /* Slightly larger for better readability */
}


h3.sub-header {
  text-align: left;
  margin: 0; /* Reset margin */
  margin-top: 20px; /* Small gap from h1 */
  margin-bottom: 0px; /* Consistent spacing below h3 */
  font-size: 18px;
  color: #555;
}

/* Form group */
.form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%; /* Osigurava da form inputi zauzmu celu širinu */
  max-width: 500px; /* Ograničava širinu inputa za bolju preglednost */
  text-align: left; /* Zadržava tekstualne elemente levo poravnate */
}

/* Form input */
.form-control {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 18px;
  outline: none;
}

.form-control:focus {
  border-color: #4682B4 ;
}

/* Label */
.form-group label {
  position: absolute;
  top: -10px;
  left: 10px;
  transform: translateY(0); /* Remove vertical centering */
  background-color: #fff;
  padding: 0 5px;
  color: #aaa;
  font-size: 14px;
  transition: 0.2s ease all;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  color: #4682B4 ;
  font-size: 12px;
}


/* Button styling */
button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 5px 10px; /* Add margin between buttons */
}

.btn-cancel, .btn-previous, .btn-next {
  min-width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  background-color: #ccc;
}

.btn-previous {
  background-color: #ccc;
}

.btn-next {
  background-color: #4682B4;
  color: white;
}

.btn-next:disabled {
  background-color: #999;
}

.btn-primary {
  background-color: #4682B4 ;
  color: white;
}

.btn-primary:hover {
  background-color: #4682B4 ;
}

.btn-secondary {
  background-color: #ccc;
}

.btn-secondary:hover {
  background-color: #bbb;
}

/* Room selection */
.room-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 180px;
  overflow-y: auto;
  justify-content: center; /* Centriranje soba */
  align-items: center; /* Vertikalno centriranje soba */
  margin-top: 0px; /* Razmak između podnaslova i soba */
}

.room-container.scrollable {
  overflow-y: auto;
}

.room-card {
  width: calc(33.33% - 10px);
  height: 80px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #DAA520; /* Zlatna pozadina */
  color: white; /* Bela slova */
  border-radius: 10px; /* Oblije ivice */
}

.room-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  text-align: center;
}

.room-card:hover {
  background-color: #B8860B; /* Tamnija nijansa zlatne na hover */
}


.room-card.selected {
  background-color: #8B4513; /* Promena boje na klik */
  color: white;
  border-radius: 10px; /* Oblije ivice */
}

.date-picker {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 14px;
  outline: none;
}

.date-picker:focus {
  border-color: #4682B4 ;
}

.snackbar-success {
  background-color: #4CAF50; /* Zelena boja za uspeh */
  color: white;
}

.snackbar-error {
  background-color: #F44336; /* Crvena boja za grešku */
  color: white;
}

