<div class="dialog-backdrop" (click)="close()"></div>

<div class="form-container">
  <button class="close-btn" (click)="close()">×</button>
  <div class="header-container">
    <h1>Propose an Exhibition</h1>
    <h3 *ngIf="currentStep === 1" class="sub-header sub-header-dates">Select Dates</h3>
    <h3 *ngIf="currentStep === 2" class="sub-header sub-header-room">Select a Room</h3>
    <h3 *ngIf="currentStep === 3" class="sub-header sub-header-pricing">Set the Pricing</h3>
  </div>
  <form [formGroup]="proposalForm" (ngSubmit)="onSubmit()"> <!-- Ensure the formGroup is correctly bound here -->

    <!-- Step 1: Select Date Range -->
    <div *ngIf="currentStep === 1" class="step-container">
      <div class="form-group">
          <input type="date" id="startDate" formControlName="startDate" class="form-control" (change)="onDatesSelected()" placeholder=" ">
          <label for="startDate">Start Date</label>
      </div>
      <div class="form-group">
          <input type="date" id="endDate" formControlName="endDate" class="form-control" (change)="onDatesSelected()" placeholder=" ">
          <label for="endDate">End Date</label>
      </div>
      <div class="button-group">
        <button type="button" (click)="close()" class="btn-cancel">Cancel</button>
        <button (click)="nextStep()" [disabled]="!datesSelected()" class="btn-next">Next</button>
      </div>
  </div>
  

    <!-- Step 2: Select Room -->
    <div *ngIf="currentStep === 2" class="step-container">
        <div class="room-container" [ngClass]="{'scrollable': availableRooms.length > 10}">
            <div *ngFor="let room of availableRooms" class="room-card" [class.selected]="room === selectedRoom" (click)="selectRoom(room)">
              <p>{{ room.number }}</p>
              <p>{{ room.name }}</p>
            </div>
        </div>
        <div class="button-group">
            <button (click)="previousStep()" class="btn-previous">Previous</button>
            <button (click)="nextStep()" [disabled]="!selectedRoom" class="btn-next">Next</button>
        </div>
    </div>

    <!-- Step 3: Set Prices -->
    <div *ngIf="currentStep === 3" class="step-container">
        <div class="form-group">
            <input type="number" id="adultPrice" formControlName="adultPrice" class="form-control" placeholder="0" min="0">
            <label for="adultPrice">Adult Price</label>
        </div>
        <div class="form-group">
            <input type="number" id="minorPrice" formControlName="minorPrice" class="form-control" placeholder="0" min="0">
            <label for="minorPrice">Minor Price</label>
        </div>
        <div class="button-group">
            <button (click)="previousStep()" class="btn-previous">Previous</button>
            <button type="submit" class="btn-next" [disabled]="!proposalForm.valid">Finish Proposal</button>
        </div>
    </div>
  </form>
</div>
