<div class="dialogue">
  <div class="wrapper">
    <form [formGroup]="addTourForm">
        <h1>Add tour</h1>

        <div class="input-box">
            <input 
                    type="text" 
                    formControlName="name" 
                    required
            />
            <label [class.active]="addTourForm.get('name')?.value || focused === 'name'">Name</label>
        </div>

        <div class="input-box">
            <input 
                    type="text" 
                    formControlName="description"
                    required
            />
            <label [class.active]="addTourForm.get('description')?.value || focused === 'description'">Description</label>
        </div>

        <div class="date-time">
            <div class="input-box">
                <input 
                        type="date" 
                        id="datepicker" 
                        name="datepicker" 
                        formControlName="occurrenceDate"
                        [min]="minDate">
            </div>
            <div class="input-box">
                    <input matInput 
                        type="time" 
                        id="timepicker" 
                        name="timepicker" 
                        formControlName="occurrenceTime">
            </div>
        </div>

        <div class="input-box">
            <input 
                    type="number" 
                    formControlName="capacity"
                    required
            />
            <label [class.active]="addTourForm.get('capacity')?.value || focused === 'capacity'">Capacity</label>
        </div>

        <div class="ticket-prices">
            <div class="input-box">
                <input 
                        type="number"
                        formControlName="adultTicketPrice"
                        required
                />
                <label [class.active]="addTourForm.get('adultTicketPrice')?.value || focused === 'adultTicketPrice'">Adult Ticket Price</label>
            </div>
            <div class="input-box">
                <input 
                        type="number"
                        formControlName="minorTicketPrice"
                        required
                />
                <label [class.active]="addTourForm.get('minorTicketPrice')?.value || focused === 'minorTicketPrice'">Minor Ticker Price</label>
            </div>
        </div>
        
        <div class="input-box">
          <input 
                  type="text" 
                  formControlName="picturePath"
                  required
          />
          <label [class.active]="addTourForm.get('picturePath')?.value || focused === 'picturePath'">Insert image path</label>
        </div>

        <button type="submit" class="submit-btn" [@buttonState]="buttonState" (click)="selectRouteButtonClicked()">Select route</button>

        <div class="curator-choosing">
          <mat-label id="choose-curator">Choose Guide</mat-label>
          <table id="curator-table">
            <tbody>
              <tr *ngFor="let curator of curators">
                <td>{{ curator.firstName }}</td>
                <td>{{ curator.lastName }}</td>
                <td>&nbsp;&nbsp;</td>
                <td>
                  <button (click)="onChooseClicked(curator)" 
                          type="submit">
                    Choose
                  </button>          
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="submit" class="submit-btn" [@buttonState]="buttonState" (click)="addTourButtonClicked()">Add</button>
    </form>
  </div>
</div>
