<div class="overlay">
<h1>Items for cleaning</h1>
<button class="btn" (click)="seeReportAllButtonClick()">Report on all cleanings</button>
<button class="btn" (click)="seeReportMyButtonClick()">Report on my cleanings</button>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Period</th>
        <th>Category</th>
        <th>Status</th>
        <th>Action</th>
        <th>Reject reason</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="employee-info">
          <img *ngIf="item"
          [src]=item.picture alt="Profile Picture" class="employee-image">
          <span class="employee-name">{{ item.name }}</span>
        </td>
        <td>{{ item.authorsName }}</td>
        <td>{{ item.period }}</td>
        <td>{{ item.category }}</td>
        <td>
          <p *ngIf="!item.cleaning?.status"> NEW </p>
          <p *ngIf="item.cleaning?.status?.toString() != 'NEW'">{{ item.cleaning?.status }} </p>
          <p *ngIf="item.cleaning?.status?.toString() == 'NEW'"> PROPOSED </p>
        </td>
        <td class="employee-actions">
          <button (click)="writeProposal(item.id || 0)" class="action-button" *ngIf="!item.cleaning">
                Write proposal
          </button>
          <button (click)="writeProposal(item.id || 0)" class="action-button" *ngIf="item.cleaning?.status!.toString() == 'REJECTED'">
            Write proposal again
          </button>
          <button (click)="putToCleaning(item.cleaning!.id || 0)" class="action-button" *ngIf="item.cleaning! && item.cleaning!.status.toString() == 'APPROVED'">
            Put to cleaning
          </button>
          <button (click)="finishCleaning(item.cleaning!.id || 0)" class="action-button" *ngIf="item.cleaning! && item.cleaning!.status.toString() == 'INCLEANING'">
            Finish cleaning
          </button>
          <p *ngIf="item.cleaning?.status?.toString() == 'NEW'">None available</p>
          <!-- ... action buttons ... -->
        </td>
        <td>
          <p *ngIf="item.cleaning?.status?.toString() != 'REJECTED'">None</p>
          <button *ngIf="item.cleaning?.status?.toString() == 'REJECTED'" class="action-button" (click)="seeReasonButtonClicked(item.cleaning!)">See reason</button>
        </td>
        <button (click)="deleteCleaning(item.cleaning!.id || 0)" class="action-button" *ngIf="item.cleaning! && item.cleaning!.status.toString() != 'CLEANSED'">
          Delete cleaning
        </button>
      </tr>
    </tbody>
</table>
</div>
