<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="modal-container">
  <div class="prompt">
    <h1>Choose curators</h1>
    <table id="curators-table">
      <tbody>
        <tr *ngFor="let curator of curators">
          <td>{{ curator.firstName }}</td>
          <td>{{ curator.lastName }}</td>
          <td>&nbsp;&nbsp;</td>
          <td>
            <button class="table-btn"
                    (click)="onChooseClicked(curator)" 
                    type="submit"
                    *ngIf="!isSelected(curator)"
                    [@buttonState]="chooseButtonState"
                    >Choose
            </button> 
            <button class="table-btn"
                    (click)="onRemoveClicked(curator)" 
                    type="submit"
                    *ngIf="isSelected(curator)"
                    [@buttonState]="chooseButtonState"
                    >Remove
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" 
            class="btn"
            (click)="doneButtonClicked()"
            [@buttonState]="doneButtonState" 
            >Done
    </button>
  </div>
</div>
