.image {
    position: relative;
    width: auto;
}

.delete-button {
    position: absolute;
    right: 5px;
    top: 5px;

    font-size: 1.5rem;
    font-weight: bold;
    color: white;

    cursor: pointer;
    user-select: none;
}

.delete-button:hover {
    color: rgb(204, 204, 204);
}

.delete-button:active {
    color: rgb(172, 172, 172);
}

.image img {
    width: auto;
    height: 10rem;
}