<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="modal-container">
  <div class="prompt">
    <h1>Accept Request</h1>

    <div class="ticket-prices">
      <div class="input-box">
        <label [class.active]="true">Adult Ticket Price</label>
        <div class="display-value">
          {{ this.adultTicketPrice }}
        </div>
      </div>
      <div class="input-box">
        <label [class.active]="true">Minor Ticket Price</label>
        <div class="display-value">
          {{ this.minorTicketPrice }}
        </div>
      </div>
    </div>

    <button type="submit" class="submit-btn" [@buttonState]="selectCuratorbuttonState" (click)="selectCuratorButtonClicked()">Select curator</button>

    <div class="buttons">
      <button type="submit"
              class="btn"
              (click)="acceptButtonClicked()"
              [@buttonState]="acceptButtonState"
              >Accept
      </button>
      <button type="submit"
              class="btn"
              (click)="cancelButtonClicked()"
              [@buttonState]="cancelButtonState"
              >Cancel
      </button>
    </div>

  </div>
</div>
