.dialogue {
  width: 30rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  height: 90%;
  border: 2px solid rgba(255, 255, 255, .2);
  /*backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);*/
  color: #1b1b1b;
  border-radius: 10px;
  /* padding: 30px 40px; */ 
  gap: 15px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  margin-top: 6%;
  position: relative;
  width: 100%;
  height: 10%;
  border-radius: 40px;
}

.input-box input {
  width: 95%;
  height: 100%;
  border-radius: 40px;
  font-size: 16px;
  padding: 2% 3%;
}

.input-box input::placeholder {
  color: #1b1b1b;
}

.input-box fa-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.input-box input:focus + label,
.input-box label.active {
  top: -13px;
  left: 10px;
  font-size: 13px;
}

.wrapper .btn {
  margin-top: 6%;
  width: 45%;
  height: 45px;
  background: gray;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #1b1b1b;
  font-weight: 600;
}

.wrapper .btn:hover {
  background-color: gray; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.wrapper .buttons {
  display: flex;
  gap: 10%;
}

.input-box select {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 40px; /* Rounded corners */
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  color: #1b1b1b;
}

/* Style options when combo box is open */
.input-box select:focus option {
  background-color: #f2f2f2; /* Background color */
  color: #1b1b1b; /* Text color */
  border-radius: 10px; /* Rounded corners */
  padding: 8px; /* Adjust padding for spacing */
}

/* Hide default arrow */
.input-box select::-ms-expand,
.input-box select::-webkit-select-arrow {
  display: none;
}

/* Style custom arrow */
.input-box select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #1b1b1b;
}

