/* filter-search.component.css */
.filter-search {
    display: flex;
    align-items: center;
    width: 100%; /* Take the full width to align with the sort-dropdown */
    padding: 0.5rem; /* Add some padding if needed */
    
    border-radius: 4px; /* Match border-radius from the wireframe */
  }
  
  .input-wrapper {
    position: relative;
    display: block; /* Make it block to fill the filter-search */
    width: 100%; /* Full width to contain the input field */
  }
  
  .input-wrapper fa-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    color: #333; /* Adjust the color to match design */
    z-index: 10;
  }
  
  .input-wrapper input[type="text"] {
    padding-left: 35px; /* Make room for the icon */
    width: 100%; /* Full width of its parent */
    border: 1px solid #ccc; /* Border as per wireframe */
    border-radius: 20px; /* Match radius from the wireframe */
    height: 40px; /* Adjust height to match design */
    font-size: 16px; /* Adjust font size to match design */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  /* Adjust the placeholder color if needed */
  .input-wrapper input[type="text"]::placeholder {
    color: #aaa; /* Lighter text color for placeholder */
  }