/* filter-search.component.css */
/* filter-search.component.css */
.filter-search .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .filter-search .input-wrapper fa-icon {
    position: absolute;
    left: 12px; /* Adjust as needed */
    z-index: 10;
  }
  
  .filter-search .input-wrapper input[type="text"] {
    padding-left: 35px; /* Adjust this value based on the size of your icon */
    width: 100%;
    /* Add other styles such as border, padding, etc., to match your design */
  }
  
