<div class="exhibition-container">
    <div class="header" [ngStyle]="{'background-image': 'url(' + exhibition.picture + ')'}">
      <div class="header-content">
        <h1>{{ exhibition.name }}</h1>
        <div class="date">{{ exhibition.proposal.startDate  }} – {{ exhibition.proposal.endDate  }}</div>
        <div class="rating1">
          <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
                [ngClass]="{'filled': i < fullStars, 'half-filled': i === fullStars && hasHalfStar}">
            ★
          </span>
        </div> 
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <h2>{{ exhibition.name }}</h2>
        <p class="short-description">{{ exhibition.shortDescription }}</p>
        <div class="date">{{ exhibition.proposal.startDate  }} – {{ exhibition.proposal.endDate  }}</div>
        <div class="long-description" [innerHTML]="exhibition.longDescription"></div>
        <div class="curator">Curated by: {{ exhibition.curator.firstName }} {{ exhibition.curator.lastName }}</div>
        <div class="toggle-buttons">
          <button 
            [ngClass]="{'active': viewMode === 'comments'}" 
            (click)="setViewMode('comments')">
            Comments
          </button>
          <button 
            [ngClass]="{'active': viewMode === 'highlights'}" 
            (click)="setViewMode('highlights')">
            Highlights
          </button>
        </div>
      </div>
      <div class="booking-container">
        <div class="location" *ngIf="exhibition.proposal.roomReservation">
          <span class="room-info">{{ exhibition.proposal.roomReservation.room.name }}, number</span>
          <span class="room-number">{{ exhibition.proposal.roomReservation.room.number }}</span>
        </div>
        <hr>
        <p class="price">adults ${{ exhibition.proposal.priceList.adultPrice }}</p>
        <p class="price">minors ${{ exhibition.proposal.priceList.minorPrice }}</p>
        <hr>
        <button class="book-tickets" *ngIf="user && user.role === 'GUEST'" (click)="openBookingModal()" [disabled]="exhibition.status === 'CLOSED'">Book tickets</button>
        <button class="book-tickets" *ngIf="user && user.role === '' ">Log in to book tickets</button>
        <div *ngIf="exhibition.status === 'CLOSED'" class="closed-exhibition-message">
          <p>This exhibition is closed. Ticket booking is no longer available.</p>
        </div>
      </div>
    </div>
    <div class="selected-works">
      <h3>{{ viewMode === 'comments' ? 'Comments' : 'Selected Works' }}</h3>
      <div *ngIf="viewMode === 'comments'; else works" class="comments-and-form">
        <div  class = "comments-container">
          <div *ngFor="let comment of comments" class="comment-item">
            <img [src]="comment.userPicture" alt="{{ comment.userFirstName }}" class="guest-picture">
            <div class="comment-details">
              <p><strong>{{ comment.userFirstName }} {{ comment.userLastName }} 
                <span *ngIf="comment.userCurator" class="verified-badge curator-badge">
                  <img src="assets/icons/verify.png" alt="Verified Icon" class="verify-icon"> Verified Curator
                </span>
                <span *ngIf="comment.userOrganizer" class="verified-badge organizer-badge">
                  <img src="assets/icons/verify.png" alt="Verified Icon" class="verify-icon"> Verified Organizer
                </span>
              </strong></p>
            
              <p class="comment-date">{{ comment.commentDate | date: 'mediumDate'}}</p>
              <p class="comment-text">{{ comment.text }}</p>
              
              <div class="replies-button">
                <button (click)="toggleReplies(comment.id)">
                  {{ comment.responses.length }} {{ comment.responses.length > 1 ? 'Replies' : 'Replies' }}
                  <span [class]="comment.showReplies ? 'arrow-up' : 'arrow-down'"></span>
                </button>
              </div>

              <div *ngIf="comment.showReplies" class="replies-container">
                <div *ngFor="let reply of comment.responses" class="reply-item">
                  <img [src]="reply.userPicture || 'default-avatar.png'" alt="{{ reply.userFirstName }}" class="guest-picture">
                  <div class="reply-details">
                    <p><strong>{{ reply.userFirstName }} {{ reply.userLastName }} 
                      <span *ngIf="reply.userCurator" class="verified-badge curator-badge">
                          <img src="assets/icons/verify.png" alt="Verified Icon" class="verify-icon"> Verified Curator
                      </span>
                      <span *ngIf="reply.userOrganizer" class="verified-badge organizer-badge">
                          <img src="assets/icons/verify.png" alt="Verified Icon" class="verify-icon"> Verified Organizer
                      </span>
                    </strong></p>
                    <p class="comment-date">{{ reply.commentDate | date:'mediumDate' }}</p>
                    <p class="comment-text">{{ reply.text }}</p>
                    <p class="reply-date">{{ reply.commentDate | date:'mediumDate' }}</p>
                  </div>
                </div>
      
                <!-- Reply form under the last reply -->
                <div class="reply-form">
                  <textarea [(ngModel)]="replyText" placeholder="Write your reply here..."></textarea>
                  <button (click)="submitReply(comment.id)">Submit Reply</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="comment-form">
          <h3>Leave a comment</h3>
          <textarea [(ngModel)]="newComment" placeholder="Write your comment here..."></textarea>
          <button (click)="submitComment()">Comment</button>
        </div>
      </div>
      <ng-template #works>
        <div class="items-grid">
          <div class="item" *ngFor="let itemReservation of visibleItems" (click)="showItemDetails(itemReservation.item)">
            <img [src]="itemReservation.item.picture" [alt]="itemReservation.item.name">
            <p>{{ itemReservation.item.name }}</p>
          </div>
        </div>
        <div class="show-more" *ngIf="visibleItems.length < exhibition.itemReservations.length">
          <button (click)="showMore()">Show More</button>
        </div>
      </ng-template>
    </div>


<div class="item-details-modal" *ngIf="selectedItem" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">×</button>
    <div class="modal-left">
      <h1><strong>{{ selectedItem.name }}</strong></h1>
      <p><strong>{{ selectedItem.authorsName }}</strong></p>
      <p><strong>{{ selectedItem.yearOfCreation }}</strong></p>
      <p>{{ selectedItem.description }}</p>
      <p>{{ selectedItem.period }}</p>
      <div class="item-details-table">
        <p><span class="label">Title:</span> <span class="value">{{ selectedItem.name }}</span></p>
        <p><span class="label">Artist:</span> <span class="value">{{ selectedItem.authorsName }}</span></p>
        <p><span class="label">Year:</span> <span class="value">{{ selectedItem.yearOfCreation }}</span></p>
        <p><span class="label">Period:</span> <span class="value">{{ selectedItem.period }}</span></p>
        <p><span class="label">Category:</span> <span class="value">{{ selectedItem.category }}</span></p>
      </div>
    </div>
    <div class="modal-right">
      <img [src]="selectedItem.picture" [alt]="selectedItem.name">
    </div>
  </div>
</div>

<div class="booking-modal" *ngIf="isBookingModalOpen">
  <div class="booking-modal-content">
    <button class="close-btn" (click)="closeBookingModal()">×</button>
    <h1><strong>Booking tickets</strong></h1>

    <div class="ticket-selection">
      <div class="ticket-row">
        <div class="ticket-type">Adults Admission</div>
        <div class="ticket-price">${{ exhibition.proposal.priceList.adultPrice }}</div>
        <div class="ticket-controls">
          <button (click)="decrementAdultTickets()">-</button>
          <div class="ticket-quantity">{{ adultTickets }}</div>
          <button (click)="incrementAdultTickets()">+</button>
        </div>
      </div>

      <div class="ticket-row">
        <div class="ticket-type">Minors Admission</div>
        <div class="ticket-price">${{ exhibition.proposal.priceList.minorPrice }}</div>
        <div class="ticket-controls">
          <button (click)="decrementMinorTickets()">-</button>
          <div class="ticket-quantity">{{ minorTickets }}</div>
          <button (click)="incrementMinorTickets()">+</button>
        </div>
      </div>
    </div>

    <div class="total-cost">
      <div class="subtotal">
        <span>Subtotal: </span>
        <span>${{ totalCost }}</span>
      </div>
      <button class="finish-booking" (click)="finishBooking()"
      [disabled]="adultTickets + minorTickets === 0">
        Finish booking
      </button>
    </div>
  </div>
</div>
