.exhibition-container {
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  padding-bottom: 50px; /* Add padding to avoid the footer overlapping */
}
  
.header {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 150px 20px; /* Increase padding for a bigger header */
  text-align: center;
  min-height: 500px; /* Ensure the header has a sufficient height */
  width: 100%; /* Make the header span the full width of the viewport */
  left: 50%; /* Center the header */
  transform: translateX(-50%); /* Adjust for the full-width positioning */
}
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  
.header-content {
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
  
.header h1 {
  margin: 0;
  font-size: 48px; /* Larger title font size */
  color: #fff;
}
  
  
.date {
  margin-top: 25px; /* Add margin to separate date from the title */
  font-style: italic;
  color: #fff;
}

.booking-container {
  margin: 40px auto;
  padding: 20px;
  width: 15%;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -50px; /* Position it above the content */
  right: 12%;
}

.booking-container hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.booking-container .location {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.booking-container .price {
  font-size: 1.1em;
  margin-bottom: 10px;
}
  
.book-tickets {
  width: 100%;
  padding: 12px;
  background-color: #d9534f; /* Change button color to a more appealing red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}


.book-tickets:hover {
  background-color: #c9302c; /* Darken the button color on hover */
}

.booking-container .price {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.booking-container .location {
    font-size: 1.1em;
    margin-bottom: 20px;
}
  
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 20px;
  position: relative; /* Ensure children can use absolute positioning */
  max-width: 80%; /* Limit width of the content area */
  margin: 40px auto; /* Center the content area */
}


.content {
  flex-grow: 1;
  margin-right: 20px;
  max-width: 50%; /* Limit the width of the content to around half */
}

.content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.content .date {
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
}
  
.content p.short-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.content .long-description {
  margin-bottom: 40px;
  line-height: 1.6;
}

.content .curator {
  font-weight: bold;
  margin-top: 30px;
}
  
  .details {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .selected-works {
    margin-top: 60px;
    padding: 0 20px;
  }
  
  .selected-works h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .comments-container {
    max-width: 60%; /* Restrict to central 60% */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    max-height: 300px; /* Limit the height for scrolling */
    overflow-y: scroll; /* Allow vertical scroll */
    padding-right: 10px; /* Ensure scrollbar doesn't overlap content */
  }
  
  .items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .item {
    flex: 1 1 30%;
    max-width: 30%;
    text-align: center;
  }
  
  .item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .item img:hover {
    transform: scale(1.05);
  }
  
  .item p {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
  

  .room-info,
    .floor-info,
    .room-number {
        font-weight: normal;
        padding-right: 5px; /* Add space between the information */
    }

    .show-more {
      text-align: center;
      margin-top: 20px;
    }
    
    .show-more button {
      padding: 10px 20px;
      background-color: #0066cc;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 10%;
    }
    
    .show-more button:hover {
      background-color: #005bb5;
    }

    .item-details-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .booking-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2); /* Dark semi-transparent background */
      backdrop-filter: blur(10px); /* Optional: add blur to background */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .booking-modal-content {
      background: #fff; /* Ensure the modal content has a white background */
      padding: 30px;
      border-radius: 8px;
      max-width: 500px; /* Make this smaller than the item details modal */
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .booking-modal-content h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .booking-modal-content h1 strong,
    .booking-modal-content .ticket-type,
    .booking-modal-content .subtotal span {
      color: #555; /* Softer gray color */
      font-weight: bold;
    }

    .subtotal {
      font-weight: bold;
    }

    .ticket-selection {
      margin-top: 20px;
    }
    
    .ticket-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd; /* Add horizontal line */
    }
    
    .ticket-type {
      font-weight: bold;
    }
    
    .ticket-controls {
      display: flex;
      align-items: center;
      margin-left: auto; /* Push the controls to the far right */
    }
    
    .ticket-controls button {
      width: 30px;
      height: 30px;
      background-color: #ddd;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .ticket-quantity {
      margin: 0 10px;
      width: 20px;
      text-align: center;
    }
    
    .ticket-price {
      font-weight: bold;
      margin-right: 10px; /* Add space between price and controls */
      margin-left: 50%;
    }
    
    .total-cost {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .finish-booking {
      padding: 12px 20px;
      background-color: #d9534f;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
    }
    
    .finish-booking:hover {
      background-color: #c9302c; /* Change to a darker shade on hover */
    }

    .finish-booking:disabled {
      background-color: #ccc; /* Light gray background */
      cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    }
    
    .modal-content {
      background: #fff;
      padding: 40px;
      max-width: 1200px;
      width: 90%;
      display: flex;
      gap: 40px;
      position: relative;
      border-radius: 8px;
      height: 600px; /* Set a fixed height for the modal */
      overflow: hidden; /* Hide overflow content */
    }
    
    .modal-left {
      flex: 2;
      overflow-y: auto; /* Enable vertical scrolling */
      height: 100%; /* Ensure it takes up the full height */
      padding-right: 20px; /* Add padding to avoid text touching the scrollbar */
    }

    .modal-left h1 {
      font-size: 38px; /* Veća veličina fonta za naziv stavke */
      margin-bottom: 10px;
      color: #333; /* Tamnija boja za bolje čitanje */
    }
    
    .modal-left p strong {
      font-size: 20px; /* Veća veličina fonta za ime autora */
      color: #555; /* Svetlija boja za ime autora */
    }
    
    .modal-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    
    .modal-right img {
      max-width: 100%; /* Ensure the image doesn’t overflow its container */
      max-height: 500px; /* Limit the height of the image */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
    }
    
    .item-details-table {
      margin-top: 30px;
      line-height: 1.6;
    }
    
    .item-details-table p {
      font-size: 14px;
      color: #666;
    }
    
    .item-details-table .label {
      font-weight: bold;
      width: 150px; /* Adjust width as needed */
      display: inline-block;
      vertical-align: top;
    }
    
    .item-details-table .value {
      display: inline-block;
      vertical-align: top;
    }
    
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .review-item {
      display: flex;
      align-items: flex-start; /* Aligns items to the top */
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd; /* Light grey horizontal line between reviews */
    }
    
    /* Image of the guest */
    .guest-picture {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 15px;
    }
    
    /* Review details */
    .review-details {
      flex-grow: 1;
      position: relative;
    }
    
    .rating .star {
      color: #ccc;
      font-size: 20px;
    }
    
    .rating .star.filled {
      color: #ffcc00;
    }
    
    .review-comment {
      max-width: 90%; /* Limit the width of the comment to prevent overlap */
      word-wrap: break-word; /* Break long words to prevent overflow */
      margin-bottom: 10px; /* Space between comment and date */
  }
  
  .review-date {
      font-size: 0.9em;
      color: #777;
      text-align: right;
      margin-left: auto; /* Push the date to the right */
  }

    .review-form {
      max-width: 60%;
      margin: 20px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    /* Heading for the review form */
    .review-form h3 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    
    /* Star rating in the form */
    .review-form .stars {
      display: flex;
      margin-bottom: 20px;
    }
    
    .review-form .stars .star {
      font-size: 30px;
      cursor: pointer;
    }
    
    .review-form .stars .star.filled {
      color: #ffcc00;
    }
    
    /* Textarea for comment */
    .review-form textarea {
      width: 100%;
      min-height: 100px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      resize: none; /* Prevent resizing */
    }
    
    /* Submit button styling */
    .review-form button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #0066cc;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 90%;
      transition: background-color 0.3s ease;
    }
    
    .review-form button:hover {
      background-color: #005bb5;
    }    

    .show-reviews {
      text-align: left; /* Aligns the button to the left */
      margin-top: 20px; /* Add some space above the button */
      margin-left: 15%; /* Adjust the position */
    }

    .toggle-buttons {
      display: flex;
      gap: 30px;
      margin-top: 20px; /* Space above the buttons */
      padding-left: 0; /* Align with the content */
    }
    

    .toggle-buttons button {
      background: none;
      border: none;
      color: #333; /* Default text color */
      font-size: 18px;
      cursor: pointer;
      position: relative;
      padding-bottom: 5px; /* Space for underline */
    }
    
    
    .toggle-buttons button.active {
      color: #ff4081; /* Highlight color */
      font-weight: bold;
    }
    
    .toggle-buttons button.active::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ff4081; /* Underline color */
      position: absolute;
      bottom: 0; /* Adjust this value to change underline position */
      left: 0;
    }

    .no-review-message {
      text-align: center;
      font-size: 24px; /* Adjust this value to match the size of the "REVIEWS" heading */
      color: #333; /* Use a similar color as the "REVIEWS" heading */
      font-weight: bold;
      margin-top: 20px; /* Adjust the margin to your liking */
    }

    .rating1 {
      display: flex;
      margin-top: 10px;
      justify-content: center;
    }
    
    .rating1 .filled {
      color: gold; /* Zlata boja za pune zvezde */
    }
    
    .rating1 .half-filled::before {
      content: "★";
      color: gold;
      position: absolute;
      width: 50%;
      overflow: hidden;
    }
    
    .rating1 .half-filled {
      color: black; /* Crna boja za prazne zvezde */
      position: relative;
    }
    
    .rating1 span {
      font-size: 20px; /* Veličina zvezda */
      color: black; /* Crna boja za prazne zvezde */
      margin-right: 5px; /* Razmak između zvezdica */
    }
    
    