<div class="form-container">
    <div class="form">
        <form [formGroup]="eventForm" (ngSubmit)="update()">
    
            <div class="input-group">
                <label for="name" class="required">Name</label>
                <input type="text" id="name" formControlName="name" autocomplete="off" required>
                <div class="errors" *ngIf="eventForm.controls['name'].dirty">
                    <p *ngIf="eventForm.controls['name'].errors?.['required']">This field is required.</p>
                </div>
            </div>
    
            <div class="form-row">
                <div class="input-group">
                    <label for="start-date-time" class="required">Start date & time</label>
                    <input type="datetime-local" id="start-date-time" formControlName="startDateTime" autocomplete="off" required (change)="loadAvailabeRooms()">
                    <div class="errors" *ngIf="eventForm.controls['startDateTime'].dirty">
                        <p *ngIf="eventForm.controls['startDateTime'].errors?.['required']">This field is required.</p>
                    </div>
                </div>
                <div class="input-group">
                    <label for="last-name" class="required">Duration (minutes)</label>
                    <input type="number" id="durationMinutes" formControlName="durationMinutes" autocomplete="off" required min="1" (change)="loadAvailabeRooms()">
                    <div class="errors" *ngIf="eventForm.controls['durationMinutes'].dirty">
                        <p *ngIf="eventForm.controls['durationMinutes'].errors?.['required']">This field is required.</p>
                    </div>
                </div>
            </div>
    
            <div class="input-group">
                <label for="ticketsNumber" class="required">Number of tickets</label>
                <input type="number" id="ticketsNumber" formControlName="ticketsNumber" autocomplete="off" required>
                <div class="errors" *ngIf="eventForm.controls['ticketsNumber'].dirty">
                    <p *ngIf="eventForm.controls['ticketsNumber'].errors?.['required']">This field is required.</p>
                </div>
            </div>
    
            <div class="input-group">
                <label for="price" class="required">Price</label>
                <input type="number" id="price" formControlName="price" autocomplete="off" required>
                <div class="errors" *ngIf="eventForm.controls['price'].dirty">
                    <p *ngIf="eventForm.controls['price'].errors?.['required']">This field is required.</p>
                </div>
            </div>
    
            <div class="input-group">
                <label for="description">Description</label>
                <textarea id="description" formControlName="description"></textarea>
            </div>
    
            <div class="input-group">
                <label for="room-id" class="required">Room</label>
                <select id="room-id" formControlName="roomId" required [(ngModel)]="selectedRoom" (ngModelChange)="onChange()">
                    <option *ngFor="let room of rooms" [ngValue]="room">{{room.name}}</option>
                </select>
            </div>
    
            <button type="submit">Save</button>
    
            <button (click)="discard()">Discard</button>
        </form>
    </div>

    <app-event-pictures [photos]="pictures"></app-event-pictures>

</div>