<div class="banner" [ngStyle]="{'background-size': backgroundSize}">
  <div class="overlay">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
          fugiat eos eligendi optio non possimus nesciunt minima deserunt
          aliquid totam.
      </p>
  </div>
  <div class="card-container-headers">
    <div class="wrapper">
        <h2>Exhibitions</h2>
    </div>
    <div class="wrapper">
        <h2>Tours</h2>
    </div>
    <div class="wrapper">
        <h2>Events</h2>
    </div>
  </div>
  <div class="card-container">
    <div class="card-group" data-index="0" (click)="cardGroupClicked()" [@fadeInOut]> 
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>
        
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>   
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
    </div>
    <div class="card-group" data-index="1" (click)="cardGroupClicked()" [@fadeInOut]> 
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>
        
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>   
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
    </div>
    <div class="card-group" data-index="2" (click)="cardGroupClicked()" [@fadeInOut]> 
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>
        
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>   
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
    </div>
</div>
</div>
