<div class="banner" [ngStyle]="{'background-size': backgroundSize}">
  <div class="overlay">
      <h1>Museum</h1>
      <p>
        "Where you can experience the Journey of Time"
      </p>
  </div>
  <div class="card-container-headers">
    <div class="wrapper">
        <h2>Exhibitions</h2>
    </div>
    <div class="wrapper">
        <h2>Tours</h2>
    </div>
    <div class="wrapper">
        <h2>Events</h2>
    </div>
  </div>
  <div class="card-container">
    <div class="card-group" data-index="0" (click)="cardGroupClicked()" [@fadeInOut]> 
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>
        
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>   
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
    </div>
    <div class="card-group" data-index="1" (click)="cardGroupClicked()" [@fadeInOut]> 
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>
        
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>   
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
    </div>
    <div class="card-group" data-index="2" (click)="cardGroupClicked()" [@fadeInOut]> 
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>
        
        <div class="little-card card"></div>
        
        <div class="big-card card"></div>   
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
        
        <div class="little-card card"></div>  
        
        <div class="big-card card"></div>  
    </div>
  </div>
  <div class="content-description">
    <div class="wrapper">
        <p>Dive into a world of discovery and inspiration with our museum's exhibitions! 
        Each exhibition is thoughtfully curated to offer visitors a profound journey through various themes, eras, and stories.<br><br>
        Our exhibitions are designed not just to educate but to enchant and provoke thought, inviting you to see the world through a new lens. </p>
    </div>
    <div class="wrapper">
        <p>Embark on an unforgettable journey through history and culture with our guided tours at the museum!
        Our tours offer immersive experiences, bringing to life the stories behind our diverse collections<br><br>
        Join us, as you are lead by knowledgeable and passionate guides and uncover the wonders of the past, present, 
        and future on a guided tour that's as educational as it is inspiring!</p>
    </div>
    <div class="wrapper">
        <p>Experience the wonders of history, nature and art come alive at our museum events! 
        Explore captivating exhibitions featuring stunning artworks and fascinating artifacts. <br><br> 
        Discover, learn, and be inspired at our museum – where every event is an opportunity to embark on a journey of exploration and enrichment!</p>
    </div>
  </div>
  <div class="card-buttons">
    <button 
            type="submit" 
            class="btn"
            (click)="exhibitionsButtonClicked()"
            [@buttonState]="exhibitionsButtonState" 
            >Visit Exhibitions
    </button>
    <button 
            type="submit" 
            class="btn" 
            (click)="toursButtonClicked()"
            [@buttonState]="toursButtonState"
            >Visit Tours
    </button>
    <button 
            type="submit" 
            class="btn" 
            (click)="eventsButtonClicked()"
            [@buttonState]="eventsButtonState"
            >Visit Events
    </button>
  </div>
</div>
