<div class="item-card">
    <div class="image-container">
      <img class="item-image" *ngIf="exhibition"
      [src]=exhibition.picture alt="Exhibition Image">
    </div>
    <div class="info-container">
      <div class="info-row">
        <p class="item-name">{{exhibition.name}}</p>
      </div>
      <div class="info-row">
        <p class="exhibition-dates">{{exhibition.proposal.startDate }} - {{exhibition.proposal.endDate }}</p>
      </div>
      <div class="info-row">
        <button class="find-out-more-button" (click)="navigateToDetails(exhibition.id)">Find Out More</button>
      </div>
    </div>
  </div>
