.item-card {
    width: 360px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image-container {
    width: 100%;
    height: 300px; /* Adjust height for larger images */
    overflow: hidden;
}
  
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the image covers the entire container */
}
  
  .info-container {
    padding: 20px;
    height: 200px;
    width: 100%;
    position: relative; /* To position the button absolutely */
    flex-grow: 1;
  }
  
  .item-name {
    font-size: 1.2em; /* Slightly reduced font size */
    margin-bottom: 10px;
    font-weight: bold;
    overflow: visible; /* Allow the name to take more space */
    white-space: normal; /* Allow wrapping to a new line */
  }
.exhibition-dates {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
}
  .period,
  .category,
  .additional-info,
  .authorsName,
  .yearOfCreation {
    margin-bottom: 10px;
  }

  .find-out-more-button {
    display: block;
    width: 80%; /* Adjust width as needed, for example 80% of the card's width */
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px; /* 20px from the bottom of the container */
    left: 50%;
    transform: translateX(-50%);
}

.rating {
  display: flex;
  margin-top: 10px;
}

.rating .filled {
  color: gold; /* Zlata boja za pune zvezde */
}

.rating .half-filled::before {
  content: "★";
  color: gold;
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.rating .half-filled {
  color: black; /* Crna boja za prazne zvezde */
  position: relative;
}

.rating span {
  font-size: 20px; /* Veličina zvezda */
  color: black; /* Crna boja za prazne zvezde */
  margin-right: 5px; /* Razmak između zvezdica */
}


  
