
<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="dialogue">
  <div class="wrapper">
    <form [formGroup]="addCleaningForm">
        <h1>Add cleaning</h1>

        <div class="input-box">
            <input 
                    type="text" 

                    formControlName="tekst" 
                    required
            />
            <label [class.active]="addCleaningForm.get('tekst')?.value || focused === 'tekst'">Text</label>
        </div>

        <label class="date-labels">Start date</label>

        <div class="input-box">
            <input 
                    type="date" 
                    id="datepicker" 
                    name="datepicker"
                    formControlName="startDate"
                    required
            />
            
        </div>

        <label class="date-labels">End date</label>

        <div class="input-box">
            <input 
                    type="date" 
                    id="datepicker" 
                    name="datepicker"
                    formControlName="endDate"
                    required
            />
        </div>

        <button type="submit" class="submit-btn" [@buttonState]="buttonState" (click)="addCleaningButtonClicked()">Add</button>
    </form>
  </div>
</div>

