.images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.elements {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
}

.mini-form {
    display: flex;
    justify-content: space-between;
}

.sub-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

button {
    border-radius: 0.5rem;
    border: 0;
    color: white;
    background-color: rgb(45, 46, 104);
    font-size: large;
    padding: 0.5rem;
}