<div class="wrapper">
    <div class="container profile-grid">
        <img class="profile-picture" src="../../../../assets/default-profile-picture.png" alt="">
        <div class="user-data">
            <p class="name">{{organizer?.firstName}} {{organizer?.lastName}}</p>
            <p class="username">&#64;{{organizer?.username}}</p>
            <p class="bio">{{organizer?.biography}}</p>
        </div>
        <img class="edit" src="../../../../assets/pen.svg" [routerLink]="['edit']">
    </div>

    <div>
        <div class="header">
            <h1>My events</h1>
            <button [routerLink]="['/events/create']">+</button>
        </div>
    
        <div class="cards" *ngFor="let event of events">
            <app-organizer-event-card [event]="event" (deleted)="onDelete($event)" (published)="onPublish($event)" (archived)="onArchive($event)" (invitedParticipant)="onInviteParticipant($event)"></app-organizer-event-card>
        </div>
    </div>

    <div class="header">
        <h1>Exhibitions</h1>
        <button
          type="submit"
          class="report-btn"
          (click)="openOrganizerExhibitionsReportDialogue()">
        &nbsp;View Exhibitions Insights
        </button>
        <button (click)="openExhibitionProposalForm()">+</button>
    </div>

    
    
    <!-- List of exhibitions managed by the organizer 
    <div class="cards" *ngFor="let exhibition of exhibitions">
        <app-organizer-exhibition-card [exhibition]="exhibition" (deleted)="onDeleteExhibition(\$event)" (updated)="onUpdateExhibition(\$event)"></app-organizer-exhibition-card>
    </div>
    -->

    <div>
        <div class="header">
            <h1>Pending invitations</h1>
        </div>
        <div class="cards" *ngFor="let invitation of pendingEventInvitations">
            <div class="container-cards organizer">
                <p>{{invitation.curator.firstName}} {{invitation.curator.lastName}}: {{invitation.event.name}}.</p>
                <div class="buttons">
                    <button (click)="onCancel(invitation)">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="header">
            <h1>Responded invitations</h1>

        </div>
        <div class="cards" *ngFor="let invitation of respondedEventInvitations">
            <div class="container organizer">
                <p>{{invitation.curator.firstName}} {{invitation.curator.lastName}} responded to your invitation: {{invitation.status}}.</p>
                <p *ngIf="invitation.status === 'DECLINED'">{{invitation.declinationExplanation}}</p>
            </div>
        </div>

    </div>

    
</div>
