<div class="overlay">
  <h1>Employee Directory</h1>
  <button 
            type="submit" 
            class="btn" 
            (click)="addEmployeeButtonClicked()"
            [@buttonState]="addEmployeeButtonState"
            >+ Add employee
    </button>
  <app-search-filter (searchChange)="onFilterChange($event)"></app-search-filter>
  <app-sort-dropdown (sortChange)="onSortChange($event)"></app-sort-dropdown>
  <app-employees-table [employees]="sortedEmployees"></app-employees-table>

  
</div>
