<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="dialogue">
  <div class="wrapper">
    <form [formGroup]="reserveTourTicketsForm">
      <h1>Reserve tickets</h1>

      <div class="input-box">
        <div class="display-value">
          {{ this.tour.name }}
        </div>
        <label [class.active]="true">Tour name</label>
      </div>

      <div class="ticket-prices">
        <div class="input-box">
          <div class="display-value">
            {{ this.pricelist?.adultTicketPrice }}
          </div>
          <label [class.active]="true">Adult Ticket Price</label>
        </div>
        <div class="input-box">
          <div class="display-value">
            {{ this.pricelist?.minorTicketPrice }}
          </div>
          <label [class.active]="true">Minor Ticket Price</label>
        </div>
      </div>

      <div class="ticket-prices">
        <div class="input-box">
          <input
            type="number"
            formControlName="numberOfAdultTickets"
            required
            (input)="onTicketsChange($event)"
          />
          <label [class.active]="reserveTourTicketsForm.get('numberOfAdultTickets')?.value || focused === 'numberOfAdultTickets'">Number Of Adult Tickets</label>
        </div>
        <div class="input-box">
          <input
            type="number"
            formControlName="numberOfMinorTickets"
            required
            (input)="onTicketsChange($event)"
          />
          <label [class.active]="reserveTourTicketsForm.get('numberOfMinorTickets')?.value || focused === 'numberOfMinorTickets'">Number Of Minor Tickets</label>
        </div>
      </div>

      <div class="input-box">
        <div class="display-value">
          {{ this.estimatedPrice }}
        </div>
        <label [class.active]="true">Estimated price</label>
      </div>

      <button type="submit" class="submit-btn" [@buttonState]="buttonState" (click)="reserveButtonClicked()">Reserve</button>
    </form>
  </div>
</div>
