<div class="container organizer">
    <app-event-info [event]="event"></app-event-info>
    <div class="buttons">
        <button *ngIf="event?.status === 'DRAFT'" (click)="onPublishClick()">Publish</button>
        <button *ngIf="event?.status === 'PUBLISHED'" (click)="onArchiveClick()">Archive</button>
        <img class="edit" *ngIf="event?.status === 'DRAFT'" src="../../../../assets/pen.svg" [routerLink]="['edit']">
        <img class="edit" *ngIf="event?.status === 'DRAFT'" src="../../../../assets/delete.svg" (click)="onDeleteClick()">
    </div>
</div>