.organizer {
    display: grid;
    grid-template-columns: 1fr auto;
}

.container img.edit, .buttons button {
    height: 1.5rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.buttons button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}